absl-py==0.4.1
backcall==0.1.0
bleach==1.5.0
Cartopy==0.16.0
cloudpickle==0.5.6
cycler==0.10.0
Cython==0.28.5
dask==0.19.1
decorator==4.3.0
h5py==2.8.0
html5lib==0.9999999
imageio==2.4.1
ipdb==0.11
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.3
networkx==2.1
numpy==1.15.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
pyshp==1.2.12
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tensorflow
tensorflow-tensorboard
toolz==0.9.0
tqdm==4.26.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
